$color-primary-100: #ecf0ff;
$color-primary-200: #e6e6ff; /* default background */
$color-primary-300: #cfcfff;
$color-primary-400: #0d46b2;
$color-primary-500: #0000ff;

$color-secondary-100: rgba(0, 0, 255, 0.15);
$color-secondary-300: #5d5d97;
$color-secondary-400: #6868ff;
$color-secondary-500: #00008a;

$color-feedback-success-100: #e3fcea;
$color-feedback-success-500: #007b29;

$color-feedback-danger-100: rgba(206, 87, 0, 0.1);
$color-feedback-danger-500: #ce5700;

$color-feedback-error-100: rgba(231, 32, 32, 0.1);
$color-feedback-error-400: #f73101;
$color-feedback-error-500: #e72020;

$color-gray-100: #f3f3f8; /* backgrounds */
$color-gray-200: #e2e2f0;
$color-gray-300: #cacae4; /* default border */

$color-text-light: rgba(0, 0, 0, 0.47);
$color-text: rgba(0, 0, 0, 0.67);
$color-text-bold: rgba(0, 0, 0, 0.87);

$font-size-small: 0.9rem;
$font-size-base: 1rem;
$font-size-title: 1.3rem;
